<div class="header-icons d-none d-lg-block">
  <ul class="list-inline"> 

    {% if _header_style == 6 or _header_style == 22 or _header_style == 23 %}
      {% include 'header-switcher' %}
    {% endif %}

    {% if _header_style == 9 or _header_style == 10 %}
      {% include 'header-search' %}
    {% endif %}
    {% if shop.customer_accounts_enabled %}
    {% assign _account_icon_type = settings.account_icon_type %}
    {% assign _account_font_icon = settings.account_font_icon %}
    {% assign _account_icon = settings.account_icon %}

    <li class="customer-account{% if _lazyload and _account_icon_type == 'image' %} lazyload waiting{% endif %}">
      {% if customer %}
      <a href="/account" title="{{ 'general.header.my_account' | t }}">
      {% else %}
      <a href="/account/login" title="{{ 'general.header.login' | t }}">
      {% endif %}

        {% if _account_icon_type == 'font-icon' %}
          <i class="demo-icon {{ _account_font_icon }}"></i>

        {% else %}
        
          <span class="account">SIGN IN</span>
        {% endif %}

      </a>
    </li>
  {% endif %}
    {% if settings.show_search == 'header' %}
      {% if _header_style == 2 or _header_style == 7 or _header_style == 8 or _header_style == 12 or _header_style == 27 or _header_style == 13 or _header_style == 30 or _header_left %}
        
      	{% assign _search_border_radius = settings.search_border_radius %}
      	{% assign _search_icon_type = settings.search_icon_type %}
        {% assign _search_font_icon = settings.search_font_icon %}
        {% assign _search_icon = settings.search_icon %}

        <li class="search-icon search-icon-desktop">
          <a href="javascript:;"{% if _lazyload and _search_icon_type == 'image' %} class="lazyload waiting"{% endif %}>
            {% if _search_icon_type == 'font-icon' %}
              <i class="demo-icon {{ settings.search_font_icon }}"></i>

            {% else %}
              <img {% if _lazyload %}class="lazyload"
                   data-srcset="{{ _search_icon | img_url: '20x'}} 1x, {{ _search_icon | img_url: '40x'}} 2x"
                   {% else %}src="{{ _search_icon | img_url: '20x'}}"{% endif %}
                   alt="Search" />

            {% endif %}
          </a>

          <div class="searchbox desktop-search{% if _search_border_radius %} border-radius{% endif %}">
            <form id="search" class="navbar-form search" action="/search" method="get">
              <input type="hidden" name="type" value="product" />
              <input id="bc-product-search" type="text" name="q" class="form-control bc-product-search"  placeholder="{{ 'general.text.search_placeholder' | t }}" autocomplete="off" />

              <button type="submit">
                <span{% if _lazyload and _search_icon_type == 'image' %} class="lazyload waiting"{% endif %}>

                  {% if _search_icon_type == 'font-icon' %}
                    <i class="demo-icon {{ _search_font_icon }}"></i>

                  {% else %}
                    <img {% if _lazyload %}class="lazyload"
                         data-srcset="{{ _search_icon | img_url: '20x'}} 1x, {{ _search_icon | img_url: '40x'}} 2x"
                         {% else %}src="{{ _search_icon | img_url: '20x'}}"{% endif %}
                         alt="Search" />

                  {% endif %}

                </span>
              </button>
            </form>

            {% if settings.ajax_search == 'default-theme' %}
              <div id="result-ajax-search" class="result-ajax-search">
                <ul class="search-results"></ul>
              </div>
            {% endif %}
          </div>

        </li>

      {% endif %}
    {% endif %}

   

    {% if settings.enable_product_compare %}
      <li class="compare-target">
        <a data-arn-action="show" class='{{ shop.metafields.arena.wl_cp_settings.compare_settings.compare_show_class }} {% if shop.metafields.arena.wl_cp_settings.compare_settings.compare_enable == false %}disabled{% endif %}' href="javascript:;">
          <span class="compare-icon">
            <svg width="22" height="22" class="arn_icon arn_icon-show-compare"><use xlink:href="#arn_icon-show-compare"></use></svg>
            {%if shop.metafields.arena.wl_cp_settings.general_settings.show_number_status == true%}
              <span class="number"><span class="n-item">0</span></span>
            {%endif%}
          </span>
        </a> 
      </li>
    {% endif %}

    {% if settings.enable_product_wishlist %}
      <li class="wishlist-target">
        <a data-arn-action="show" class='{{ shop.metafields.arena.wl_cp_settings.wishlist_settings.wishlist_show_class }} {% if shop.metafields.arena.wl_cp_settings.wishlist_settings.wishlist_enable == false %}disabled{% endif %}' href="javascript:;">
          <span class="wishlist-icon">
            <svg width="22" height="22" class="arn_icon arn_icon-show-wishlist"><use xlink:href="#arn_icon-show-wishlist"></use></svg>
            {%if shop.metafields.arena.wl_cp_settings.general_settings.show_number_status == true%}
            <span class="number"><span class="n-item">0</span></span>
            {%endif%}
          </span>
        </a>
      </li>
    {% endif %}

    {% if settings.show_cart %}   
      {% assign _cart_icon_type = settings.cart_icon_type %}
      {% assign _cart_font_icon = settings.cart_font_icon %}
      {% assign _cart_icon = settings.cart_icon %}
    
      <li class="top-cart-holder{% if settings.cart_styles == 'dropdown' %} hover-dropdown{% endif %}">
        <div class="cart-target">

          {% if settings.cart_styles == 'dropdown' %}
            <a href="javascript:void(0)" class="basket dropdown-toggle{% if _lazyload and _cart_icon_type == 'image' %} lazyload waiting{% endif %}" title="cart">
              {% if _cart_icon_type == 'font-icon' %}
                <i class="demo-icon {{ _cart_font_icon }}"></i>

              {% else %}
                <img {% if _lazyload %}class="lazyload"
                     data-srcset="{{ _cart_icon | img_url: '20x'}} 1x, {{ _cart_icon | img_url: '40x'}} 2x"
                     {% else %}src="{{ _cart_icon | img_url: '20x'}}"{% endif %}
                     alt="Cart" />

              {% endif %}

              <span class="number"><span class="n-item">{{ cart.item_count }}</span></span>
            </a>

            <div class="cart-dd">
              <div id="cart-info">
                <div id="cart-content" class="cart-content">
                  <div class="cart-loading"></div>
                </div>
              </div>
            </div>

          {% else %}
            <a href="javascript:void(0)" class="basket cart-toggle{% if _lazyload and _cart_icon_type == 'image' %} lazyload waiting{% endif %}" title="cart">
              {% if _cart_icon_type == 'font-icon' %}
                <i class="demo-icon {{ _cart_font_icon }}"></i>

              {% else %}
                <img {% if _lazyload %}class="lazyload"
                     data-srcset="{{ _cart_icon | img_url: '20x'}} 1x, {{ _cart_icon | img_url: '40x'}} 2x"
                     {% else %}src="{{ _cart_icon | img_url: '20x'}}"{% endif %}
                     alt="Cart" />

              {% endif %}

              <span class="number"><span class="n-item">{{ cart.item_count }}</span></span>
            </a>

          {% endif %}

        </div>
      </li>            
    {% endif %}

  </ul>
</div>