{%- assign _lazyload = settings.use_lazyload -%}

{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

<div class="page-contact page-contact-v1">
    <div id="col-main" class="page-contact-content">

      {% if section.blocks.size > 0 %}
        <div class="container">

          {% for block in section.blocks %}
            <div class="block-{{ block.type }}">
              {% case block.type %}

                {% when 'heading' %}
                  {%- assign _heading = block.settings.text -%}
                  {% unless _heading == blank  %}<h2>{{ _heading }}</h2>{% endunless %}

                {% when 'information' %}

                  <ul class="infor-list">
                    {% for i in (1..3) %}

                      {%- assign _show = 'block_icon_' | append : i-%}

                      {% if block.settings[_show] %}
                        {%- assign _icon = 'icon_' | append : i -%}
                        {%- assign _heading = 'heading_' | append : i -%}
                        {%- assign _subheading = 'subheading_' | append : i -%}

                        <li class="d-flex">
                          {% unless block.settings[_icon] == blank %}<i class="demo-icon {{ block.settings[_icon] }}"></i>{% endunless %}

                          {% unless block.settings[_heading] == blank and block.settings[_subheading] == blank %}
                            <div class="text">
                              {% unless block.settings[_heading] == blank %}<p>{{ block.settings[_heading] }}</p>{% endunless %}
                              {% unless block.settings[_subheading] == blank %}<strong>{{ block.settings[_subheading] }}</strong>{% endunless %}
                            </div>
                          {% endunless %}
                        </li>

                      {% endif %}

                    {% endfor %}
                  </ul>

                {% else %}
                  <div class="box-address">
                    {%- assign _address = block.settings.address -%}
                    {%- assign _social_icon = block.settings.social_icon -%}

                    <div class="d-flex">
                      {% unless _address == blank %}<p>{{ _address }}</p>{% endunless %}
                      {% if _social_icon %}{% include 'social-media-icons' %}{% endif %}
                    </div>
                  </div>

             {% endcase %}

            </div>
          {% endfor %}

        </div>
      {% endif %}

      {% if section.settings.enable_contact_form %}
        <div class="contact-form-wrapper">
          <div class="container">

            <div class="contact-form">
              {% unless section.settings.contact_form_title == blank %}
                <div class="title-wrapper">
                  <h3>{{ section.settings.contact_form_title }}</h3>
                </div>
              {% endunless %}

              {% form 'contact' %}

                {% if form.posted_successfully? %}
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{'contact.form.post_success' | t }}
                  </div>
                {% endif %}

                {% if form.errors %}
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ form.errors | default_errors }}
                  </div>
                {% endif %}

                <div id="contact-form">
                  <div class="row">
                    <div class="form-group col-md-6 col-12">
                      <label for="name">{{ 'contact.form.name' | t }}<span class="req">*</span></label>
                      <input type="text" id="name" class="form-control" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.first_name }} {{ customer.last_name }}{% endif %}" name="contact[name]" />
                    </div>

                    <div class="form-group col-md-6 col-12">
                      <label for="phone">{{'contact.form.phone' | t }}</label>
                      <input type="text" id="phone" class="form-control" value="{{ form.phone }}" name="contact[phone]" />
                    </div>
                  </div>

                  <div class="form-group {% if form.errors contains 'email' %} error{% endif %}">
                    <label for="email">{{ 'contact.form.email' | t }}<span class="req">*</span></label>
                    <input required type="email" id="email" class="form-control" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" name="contact[email]" />
                  </div> 

                  <div class="form-group{% if form.errors contains 'body' %} error{% endif %}">
                    <label for="message">{{ 'contact.form.message' | t }}</label>
                    <textarea required id="message" class="form-control" cols="40" rows="7" name="contact[body]">{{ form.body }}</textarea>
                  </div>

                  <div class="form-actions">
                    <button type="submit" class="btn btn-1">{{'contact.form.submit_button' | t }}</button>
                  </div> 
                </div>

              {% endform %}

            </div>
            
          </div>     
        </div>
      {% endif %}
      
      {% if section.settings.enable_contact_map %}
        <div class="map-wrapper">
          <div id="page-contact-map" class="map" style="height: 600px;"></div>
        </div>
      {% endif %}

  </div>
</div>

<script>
    /*---- Google map -----*/
    (function () {
        "use strict";

        if (jQuery("#page-contact-map")) {
            var locations = [
              ['<div class="map-info-box"><p>{{ shop.address.street }}, {{ shop.address.city }}, {{ shop.address.country }}</p></div>', {{ section.settings.contact_latlong }}, 9]
            ];

            var map = new google.maps.Map(jQuery("#page-contact-map")[0], {
                zoom: {{section.settings.contact_zoom_lv}},
                scrollwheel: {{section.settings.contact_scroll}},
                center: new google.maps.LatLng({{ section.settings.contact_latlong }}),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow();


            var marker, i;

            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: '{{"pin.png" | asset_url}}',
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    }());

</script>