{% include 'products-grid-config' %}

{% if _bg_style == 'image' or _bg_style == 'image-full' %}
  {% if _lazyload %}
    {% capture background %}{{ _bg_img | img_url: '1920x' }}{% endcapture %}
  {% else %}
    {% capture background %}url({{ _bg_img | img_url: '1920x' }}) no-repeat{% endcapture %}
  {% endif %}
{% else %}
  {% capture background %}{{ _bg_color }}{% endcapture %}
{% endif %}

<div id="product-grid-{{ section.id }}" class="product-grid-section{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }} bg-style-{{ _bg_style }}" style="background-color: {{ _bg_color }};" data-section-type="reload_section" data-section-id="{{ section.id }}">
    <div class="wrap-columns {{ _bg_color_none }}{% if section.settings.heading == blank %} heading-blank{% endif %}{% if _overflow_visible %} owl-overflow-visible{% endif %}{% if _lazyload and _bg_style == 'image-full' %} lazyload{% endif %}"{% if _lazyload and _bg_style == 'image-full' %} data-bgset="{{ background }}"{% endif %}>

      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}

          {%- assign block_collection = block.settings.collection -%}
          {%- assign collection = collections[block_collection] -%}
          {%- assign __block_type = block.type -%}

          {% if block.type == 'product' %}
            {%- assign _block_border = block.settings.border_box -%}
            <div class="product-grid-content block-type-{{ block.type }}{% if _border_bottom %} product-grid-border{% endif %} product-grid-border-{{ _block_border }}">
              <div class="bg-{{ _bg_style }} {% unless _block_border == 'tf' or _block_border == 'top' %}{{ _layout_class }} {% endunless %}{% if _border_line %}heading-border-line{% endif %}">

                {% if _block_border == 'tf' or _block_border == 'top' %}
                  <div class="{{ _layout_class }}">{% include 'heading-block' %}</div>
                {% elsif _block_border == 'content-heading' %}
                {% else %}
                  {% include 'heading-block' %}
                {% endif %}

                {% unless block_collection == blank or collection.products_count == 0 %}

                  <div class="product-grid-inner{% if _lazyload and _bg_style == 'image' %} lazyload{% endif %}" {% if _lazyload and _bg_style == 'image' %}data-bgset="{{ background }}"{% endif %}>

                    {% if _block_border == 'tf' or _block_border == 'top' %}<div class="{{ _layout_class }}">{% endif %}
                      <div class="product-grid-box pgb-{{ block.type }}">
                        {% if _block_border == 'content-heading' %}{% include 'heading-block' %}{% endif %}
                        <div class="product-grid-type product-grid-{{ _type }}{% unless _block_border == 'none' %} pg-border{% endunless %}">
                          {% if _type == 'row' %}<div class="row row-padding-{{ _padding_section }}">{% endif %}
                           
                            {% for product in collection.products limit: _limit %}
                          
                              <div class="product-grid-item{% if _product_border_top and _border_bottom == false %} product-border-top{% endif %}{% if _border_right %} product-border-right{% endif %}{% if _type == 'row' %} {{ _desktop_class }} {{ _tablet_class }} {{ _mobile_class }} padding-{{ _padding_section }}{% endif %}">
                                {% include 'product-item' %}
                               
                              </div>
                             
                             
                            {% endfor %}

                          {% if _type == 'row' %}</div>{% endif %}
                        </div>

                        <style type="text/css">
                          #product-grid-{{ section.id }} .product-grid-box.pgb-product{
                            width: {{ block.settings.width }}%;
                            margin: 0 auto;
                            {% if _block_border != 'none' and _block_border != 'top' %}
                            border: 2px solid {{ block.settings.border_box_color }};
                            {% endif %}
                          }
                          {% if _block_border == 'tf' or _block_border == 'top' %}
                          #product-grid-{{ section.id }} .product-grid-inner{
                            border-top: 1px solid {{ settings.border_color }};
                          }
                          {% endif %}
                        </style>
                      </div>
                    {% if _block_border == 'tf' or _block_border == 'top' %}</div>{% endif %}

                  </div>

                {% else %}

                  <div class="product-grid-row">
                    <div class="row row-padding-{{ _padding_section }}">
                      {{ emptyProduct }}
                    </div>
                  </div>

                {% endunless %}

              </div>
            </div>

          {% else %}

            <div class="product-grid-content block-type-{{ block.type }}{% if _border_bottom %} product-grid-border{% endif %}">
              <div class="{{ _layout_class }} bg-{{ _bg_style }}{% if _border_line %} heading-border-line{% endif %}">

                {% if block.type == 'product-image-v2' %}
                  {%- assign _heading_block = block.settings.heading -%}
                  {%- assign _block_product_width = block.settings.width -%}

                  {% if _heading_block == blank and _block_product_width != 10 %}{% include 'heading-block' %}{% endif %}

                {% elsif block.type == 'special-product' %}

                {% else %}
                  {% include 'heading-block' %}

                {% endif %}

                {% unless block_collection == blank or collection.products_count == 0 %}
                  {%- assign _full_content = block.settings.full_content -%}
                  {%- assign _show_image_gallery = block.settings.show_image_gallery -%}

                  <div class="product-grid-inner{% if _full_content %} full-deals-content{% endif %}{% if _show_image_gallery %} show-images{% endif %}{% if _lazyload and _bg_style == 'image' %} lazyload{% endif %}" {% if _lazyload and _bg_style == 'image' %}data-bgset="{{ background }}"{% endif %}>

                    <div class="product-grid-box pgb-{{ block.type }}">
                      {% case block.type %}

                        {% when 'product-col-info' %}
                          {%- assign _text_1 = block.settings.text_1 -%}
                          {%- assign _text_2 = block.settings.text_2 -%}
                          {%- assign _button_text = block.settings.button_text -%}
                          <div class="product-col-info product-grid-row">
                            <div class="row row-padding-{{ _padding_section }}">

                              <div class="col-info col-lg-4 col-md-12 padding-{{ _padding_section }}">
                                <div class="col-info-inner">
                                  {% unless _text_1 == blank %}<h3>{{ _text_1 }}</h3>{% endunless %}
                                  {% unless _text_2 == blank %}<div class="col-name">{{ _text_2 }}</div>{% endunless %}
                                  {% unless _button_text == blank %}<a class="btn btn-1" href="{{ collection.url }}">{{ _button_text }}</a>{% endunless %}
                                </div>
                              </div>

                              <div class="product-grid-col col-lg-8 col-md-12 padding-{{ _padding_section }}">
                                <div class="product-grid-type product-grid-{{ _type }}">

                                  {% if _type == 'row' %}<div class="row row-padding-{{ _padding_section }}">{% endif %}
                                    {% for product in collection.products limit: _limit %}
                                      <div class="product-grid-item{% if _product_border_top and _border_bottom == false %} product-border-top{% endif %}{% if _border_right %} product-border-right{% endif %} {% if _type == 'row' %} {{ _desktop_class }} {{ _tablet_class }} {{ _mobile_class }} padding-{{ _padding_section }}{% endif %}">
                                        {% include 'product-item' %}
                                      </div>
                                    {% endfor %}
                                  {% if _type == 'row' %}</div>{% endif %}

                                </div>
                              </div>

                            </div>
                          </div>

                        {% when 'special-product' %}
                          <div class="product-grid-type product-grid-row row row-padding-{{ _padding_section }}">
                            {% include 'products-grid-type-special-product' %}

                            <div class="product-grid-special col-lg-7 col-md-7 padding-{{ _padding_section }}">
                              <div class="product-grid-special-inner">
                                {% include 'heading-block' %}

                                <div class="row row-padding-{{ _padding_section }}">
                                  {% for product in collection.products limit: 6 %}
                                    <div class="product-grid-item{% if _product_border_top and _border_bottom == false %} product-border-top{% endif %}{% if _border_right %} product-border-right{% endif %} col-lg-4 col-md-4 col-sm-6 col-6 padding-{{ _padding_section }}">
                                      {% include 'product-item' %}
                                    </div>
                                  {% endfor %}
                                </div>

                              </div>
                            </div>
                          </div>

                        {% when 'product-image-v2' %}
                          {%- assign _block_image_position = block.settings.block_image_position -%}
                          {%- assign _block_border_content = block.settings.border_content -%}
                          {%- assign _block_border_content_pad = block.settings.border_content_padding -%}

                          <div class="product-grid-type position-{{ _block_image_position }}{% if _block_border_content %} border-content{% endif %} product-grid-row row row-padding-{{ _padding_section }}">

                            {%- assign _block_product_width = block.settings.width -%}

                            {% case _block_product_width %}
                              {% when 6 %}
                                {% if _item_per_row > 2 %}
                                  {%- assign _product_item_col = 'col-lg-4 col-md-6 col-sm-6 col-6' -%}
                                {% else %}
                                  {%- assign _product_item_col = 'col-lg-6 col-md-6 col-sm-6 col-6' -%}
                                {% endif %}
                                {%- assign _product_col = 'col-lg-6 col-md-6' -%}
                                {%- assign _image_col = 'col-lg-6 col-md-6' -%}

                              {% when 7 %}
                                {%- assign _product_col = 'col-lg-7 col-md-7' -%}
                                {%- assign _product_item_col = 'col-lg-4 col-md-4 col-sm-6 col-6' -%}
                                {%- assign _image_col = 'col-lg-5 col-md-5' -%}

                              {% when 8 %}
                                {%- assign _product_col = 'col-lg-8 col-md-8' -%}
                                {%- assign _product_item_col = 'col-lg-4 col-md-4 col-sm-6 col-6' -%}
                                {%- assign _image_col = 'col-lg-4 col-md-4' -%}

                              {% when 9 %}
                                {%- assign _product_col = 'col-lg-9 col-md-9' -%}
                                {% if _item_per_row > 4 %}
                                   {%- assign _product_item_col = 'col-fix-5 col-md-3 col-sm-6 col-6' -%}
                                {% elsif _item_per_row == 4 %}
                                    {%- assign _product_item_col = 'col-lg-3 col-md-3 col-sm-6 col-6' -%}
                                {% else %}
                                  {%- assign _product_item_col = 'col-lg-4 col-md-4 col-sm-6 col-6' -%}
                                {% endif %}
                                {%- assign _image_col = 'col-lg-3 col-md-3' -%}

                              {% else %}
                                {%- assign _product_col = 'col-fix-10' -%}
                                {% if _item_per_row > 4 %}
                                   {%- assign _product_item_col = 'col-fix-5 col-md-3 col-sm-6 col-6' -%}
                                {% elsif _item_per_row == 4 %}
                                    {%- assign _product_item_col = 'col-lg-3 col-md-3 col-sm-6 col-6' -%}
                                {% else %}
                                  {%- assign _product_item_col = 'col-lg-4 col-md-4 col-sm-6 col-6' -%}
                                {% endif %}
                                {%- assign _image_col = 'col-fix-2' -%}
                            {% endcase %}

                            {% if _block_image_position == 'left' %}
                              {% include 'products-grid-type-image' %}
                            {% endif %}

                            <div class="product-grid-normal {{ _product_col }} padding-{{ _padding_section }}">
                              {%- assign _heading_block = block.settings.heading -%}

                              {% if _block_product_width == 10 %}
                                {% include 'heading-block' %}
                              {% else %}
                               {% unless _heading_block == blank %}{% include 'heading-block' %}{% endunless %}
                              {% endif %}

                              <div class="product-grid-normal-inner"{% if _block_border_content %} style="padding: {{ _block_border_content_pad }}"{% endif %}>
                                <div class="product-grid-{{ _type }}">
                                  {% if _type == 'row' %}<div class="row row-padding-{{ _padding_section }}">{% endif %}
                                  {% for product in collection.products limit: _limit %}
                                    <div class="product-grid-item{% if _product_border_top and _border_bottom == false %} product-border-top{% endif %}{% if _border_right %} product-border-right{% endif %}{% if _type == 'row' %} {{ _product_item_col }} padding-{{ _padding_section }}{% endif %}">
                                      {% include 'product-item' %}
                                    </div>
                                  {% endfor %}
                                  {% if _type == 'row' %}</div>{% endif %}
                                </div>
                              </div>

                            </div>

                            {% if _block_image_position == 'right' %}
                              {% include 'products-grid-type-image' %}
                            {% endif %}

                          </div>

                        {% when 'deals' %}
                          {%- assign _heading_block = block.settings.heading -%}
                          {%- assign _expire = block.settings.countdown -%}
                          {%- assign _countdown_style = block.settings.countdown_style -%}
                          {%- assign _dueDate = _expire | split: '/' -%}

                          {% if _show_image_gallery %}<div class="row"><div class="block-products col-lg-9 col-md-9 col-sm-12 col-12">{% endif %}
                            <div class="block-products-content">
                              <div class="product-grid-type product-grid-row">

                                <div class="row row-padding-{{ _padding_section }}">
                                  <div class="block-deal col-lg-4 col-md-4 padding-{{ _padding_section }}">

                                    {% unless _heading_block == blank %}<h3 class="deal-heading">{{ _heading_block }}</h3>{% endunless %}

                                    {% unless _expire == blank %}
                                      <div class="wrapper-countdown" data-style="{{ _countdown_style }}">
                                        <div class="countdown_{{ block.id }}"></div>
                                      </div>

                                      <script type="text/javascript">
                                        jQuery(document).ready(function($){

                                          var _style = $('#product-grid-{{ section.id }} .wrapper-countdown').attr('data-style');
                                          var currentDate = new Date();
                                          var dueDate = new Date( {{ _dueDate[2] }}, {{ _dueDate[0] | plus:0 }} - 1, {{ _dueDate[1] | plus:0 }} );

                                          if(currentDate < dueDate){
                                            if(_style == 1){
                                              $('.countdown_{{ block.id }}').countdown({until: dueDate, format: 'DHMS', padZeroes: true });
                                            }
                                            else{
                                              $('.countdown_{{ block.id }}').countdown({until: dueDate, format: 'DHMS', layout: '<ul><li>{dn}<span>{dl}</span></li><li>{hn}<span>{hl}</span></li><li>{mn}<span>Min</span></li><li>{sn}<span>Sec</span></li></ul>', padZeroes: true });
                                            }
                                          }
                                          else{
                                            $('.countdown_{{ block.id }}').parent().hide();
                                          }

                                        });
                                      </script>

                                      <style type="text/css">
                                        #product-grid-{{ section.id }}.product-grid-section .block-type-deals .block-deal .is-countdown .countdown-amount {
                                          background: {{ block.settings.countdown_bg_color }};
                                          color: {{ block.settings.countdown_text_color }};
                                        }
                                        #product-grid-{{ section.id }}.product-grid-section .block-type-deals .is-countdown ul li{
                                          background: {{ block.settings.countdown_bg_color }};
                                          color: {{ block.settings.countdown_text_color }};
                                        }
                                      </style>
                                    {% endunless %}

                                    {% if block.settings.show_all %}
                                      <a href="{{ collection.url }}" class="btn btn-3">{{ 'general.text.view_all' | t }}</a>
                                    {% endif %}
                                  </div>

                                  <div class="product-grid-row col-lg-8 col-md-8 padding-{{ _padding_section }}">
                                    <div class="{% if _type == 'row' %}row-deals{% else %}deals-carousel-mode{% endif %}">
                                      <div class="{% if _type == 'row' %}row row-padding-{{ _padding_section }}{% else %}deals-carousel{% endif %}">
                                        {% if settings.show_left_column and _full_content == false %}
                                          {%- assign _limit = 3 -%}
                                          {%- assign _desktop_class = 'col-lg-4' -%}
                                          {%- assign _tablet_class = 'col-md-4' -%}
                                          {%- assign _mobile_class = 'col-sm-4' -%}
                                        {% endif %}

                                        {% for product in collection.products limit: _limit %}
                                          <div class="product-grid-item{% if _product_border_top and _border_bottom == false %} product-border-top{% endif %}{% if _border_right %} product-border-right{% endif %}{% if _type == 'row' %} {{ _desktop_class }} {{ _tablet_class }} {{ _mobile_class }} col-12 padding-{{ _padding_section }}{% endif %}">
                                            {% include 'product-item' %}
                                          </div>
                                        {% endfor %}
                                      </div>
                                    </div>
                                  </div>

                                </div>

                              </div>
                            </div>
                          {% if _show_image_gallery %}</div>{% endif %}

                          {% if _show_image_gallery %}
                            <div class="block-image-gallery col-lg-3 col-md-3 col-sm-12 col-12">
                              <div class="image-gallery-content">

                                {% for i in (1..3) %}
                                  {% assign _image = 'image_' | append: i %}
                                  {% assign _link = 'link_' | append: i %}
                                  {% assign _image_size = '270x' %}

                                  {% unless block.settings[_image] == blank %}
                                    <div class="image">
                                      <a href="{{ block.settings[_link] }}">
                                        {% include 'image-lazysize' with image: block.settings[_image], image_size: _image_size, image_class: '', image_alt: 'Banner' %}
                                      </a>
                                    </div>
                                  {% endunless %}
                                {% endfor %}

                              </div>
                            </div>
                          {% endif %}

                        {% when 'product-image' %}
                          <div class="product-grid-type product-grid-{{ _type }}">
                            {% if _type == 'row' %}<div class="row row-padding-{{ _padding_section }}">{% endif %}

                              {% include 'products-grid-type-image' %}

                              {% for product in collection.products limit: _limit %}
                                <div class="product-grid-item{% if _product_border_top and _border_bottom == false %} product-border-top{% endif %}{% if _border_right %} product-border-right{% endif %}{% if _type == 'row' %} {{ _desktop_class }} {{ _tablet_class }} {{ _mobile_class }} padding-{{ _padding_section }}{% endif %}">
                                  {% include 'product-item' %}
                                </div>
                              {% endfor %}

                            {% if _type == 'row' %}</div>{% endif %}
                          </div>
                        {% else %}

                      {% endcase %}
                    </div>

                  </div>

                {% else %}

                  <div class="product-grid-row">
                    <div class="row row-padding-{{ _padding_section }}">
                      {{ emptyProduct }}
                    </div>
                  </div>

                {% endunless %}

              </div>
            </div>

          {% endif %}

        {% endfor %} 

        {% if _layout == 'right-column' and _right_column_menu != blank %}
          <div class="right-column">
            <div class="right-column-content">

              {% unless _right_column_heading == blank %}
                <div class="title-wrapper{% if _bigger_size_block %} bigger-size{% endif %}">
                  <h3 style="font-size: {{ _right_column_heading_size  }}px;">{{ _right_column_heading }}</h3>
                </div>
              {% endunless %}

              <ul>
                {% for l in linklists[_right_column_menu].links %}
                  <li><a href="{{ l.url }}">{{ l.title }}</a></li>
                {% endfor %}
              </ul>

            </div>
          </div>

          <style type="text/css">
              #product-grid-{{ section.id }}.product-grid-section.layout-right-column .right-column{
                -webkit-padding-start: {{ _right_column_pad }}px;
                -moz-padding-start: {{ _right_column_pad }}px;
                padding-inline-start: {{ _right_column_pad }}px;
              }
            </style>
        {% endif %}

      {% else %}

        <div class="{{ _layout_class }}">
          {% include 'heading-block' %}

          <div class="product-grid-row">
            <div class="row row-padding-{{ _padding_section }}">
              {{ emptyProduct }}
            </div>
          </div>
        </div>

      {% endif %}

    </div>

    <style type="text/css">
      #product-grid-{{ section.id }}.product-grid-section .owl-overflow-visible .owl-carousel:before{
        background: {{ _bg_color }};
      }
      {% if _bg_style == 'image' or _bg_style == 'image-full'  %}
        #product-grid-{{ section.id }} .product-grid-inner{
          padding: 20px;
        }
        #product-grid-{{ section.id }} .product-grid-inner .product-grid-box{
          background: {{ _bg_color }};
        }
      {% endif %}
    </style>

    {% include 'products-grid-script' %}

</div>
