{%- assign _lazyload = settings.use_lazyload -%}
{%- assign _hide_mobile = section.settings.hide_mobile -%}
{%- assign _layout = section.settings.layout -%}
{%- assign _product_alignment = section.settings.product_alignment -%}
{%- assign _bg_color = section.settings.bg_color -%}
{%- assign _navigator = section.settings.navigator -%}
{%- assign _padding = '0' -%}

{% if _layout == 'boxed' %}
  {%- assign _layout_class = 'container' -%}
{% else %}
  {%- assign _layout_class = 'container-fluid' -%}
{% endif %}

{% capture emptyProduct %}
  {% for i in (1..3) %}
    <div class="product-grid-item">
      <div class="product-wrapper">

        <div class="product-head">
          <div class="product-image">

            <div class="featured-img">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>

          </div>
        </div>

        <div class="product-content">
          <div class="pc-inner">
            <h5 class="product-name">{{ 'homepage.onboarding.product_title' | t }}</h5>
            <div class="product-price"><span class="price">{{ 1999 | money }}</span></div>
          </div>
        </div>

      </div>
    </div>
  {% endfor %}
{% endcapture %}

{% capture emptyImage %}
  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
{% endcapture %}

<div data-section-type="reload_section" data-section-id="{{ section.id }}" id="product-grid-{{ section.id }}" class="product-grid-v2{% if _hide_mobile %} d-none d-md-block{% endif %} layout-{{_layout }}" style="background: {{ _bg_color }};">

    <div class="{{ _layout_class }}">
      <div class="row">

        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}

            {% if block.type == 'image' %}
              {%- assign _image = block.settings.image -%}
              {%- assign _link = block.settings.button_link -%}
              {%- assign _image_size = '775x' -%}

              <div class="col-lg-5 col-md-6 col-sm-12 box-image-v2">
                <div class="box-image">

                  <div class="image">
                    {% unless _image == blank %}
                      <a href="{{ _link }}">
                        {% include 'image-lazysize' with image: _image, image_size: _image_size, image_class: '', image_alt: 'Banner' %}
                      </a>
                    {% else %}
                      {{ emptyImage }}
                    {% endunless %}
                  </div>

                  {%- assign _text = block.settings.text -%}
                  {%- assign _button_text = block.settings.button_text -%}

                  {% unless _text == blank and _button_text == blank  %}
                    <div class="text-box">

                      {%- assign _text_color = block.settings.text_color -%}
                      {%- assign _text_size = block.settings.text_size -%}
                      {%- assign _button_color = block.settings.button_label_color -%}
                      {%- assign _button_bg = block.settings.button_bg_color -%}

                      {% unless _text == blank %}
                        <div class="title{% if _text_size > 25 %} big-size{% endif %}" style="color: {{ _text_color }}; font-size: {{ _text_size }}px;">{{ _text }}</div>
                      {% endunless %}

                      {% unless _button_text == blank %}
                        <a class="btn btn-banner" href="{{ _link }}" style="color: {{ _button_color }}; background: {{ _button_bg }}; ">{{ _button_text }}</a>
                      {% endunless %}
                    </div>
                  {% endunless %}

                </div>
              </div>

            {% else %}
              {%- assign block_collection = block.settings.collection -%}
              {%- assign collection = collections[block_collection] -%}
              {%- assign _border_top= block.settings.border_top -%}
              {%- assign _border_bottom = block.settings.border_bottom -%}
              {%- assign _limit = block.settings.limited -%}

              <div class="col-lg-7 col-md-6 col-sm-12 box-product-v2">
                <div class="box-product{% if _border_top %} border-top{% endif %}{% if _border_bottom %} border-bottom{% endif %}">
                  {% include 'heading-block' %}

                  <div class="product-grid-carousel-v2">
                    {% unless block_collection == blank or collection.products_count == 0 %}

                      {% for product in collection.products limit: _limit %}
                        <div class="product-grid-item">
                          {% include 'product-item' %}
                        </div>
                      {% endfor %}

                    {% else %}
                      {{ emptyProduct }}

                    {% endunless %}
                  </div>

                </div>
              </div>

            {% endif %}

          {% endfor %}

        {% else %}
          <div class="col-lg-5 col-md-6 col-sm-12 box-image-v2">
            <div class="box-image">
              <div class="image">
                {{ emptyImage }}
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-6 col-sm-12 box-product-v2">
            <div class="box-product">
            {% include 'heading-block' %}

            <div class="product-grid-carousel-v2">
              {{ emptyProduct }}
            </div>

            </div>
          </div>

        {% endif %}

      </div>
    </div>
    <input type="hidden" name="carousel_properties" id="carousel_{{section.id}}"
            data-id="#product-grid-{{ section.id }} .product-grid-carousel-v2"
            data-nav="{{ _navigator }}"
            data-margin="30"
            data-resp="5.2"
            data-items-1="1"
            data-items-2="2"
            data-items-3="1"
            data-items-4="2"
            data-items-5="3">
</div>
