{% unless settings.breadcrumb_styles == 'none' %}{% include 'breadcrumb' %}{% endunless %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="image" content="https:{{ product.featured_image.src | product_img_url: 'grande' }}">
  <span itemprop="name" class="hide">{{ product.title }}</span>
  <meta itemprop="mpn" content="925872" />
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="sku" content="{{ product.variants.first.sku }}">
  <div itemprop="aggregateRating"
    itemscope itemtype="http://schema.org/AggregateRating" style="display: none;">
   Rated <span itemprop="ratingValue">3.5</span>/5
   based on <span itemprop="reviewCount">11</span> customer reviews
  </div>
  <meta itemprop="description" content="{{ product.description | strip_html | truncate: 100 }}">
  
  {% assign _lazyload = settings.use_lazyload %}
  {% assign _product_layout = 'v3' %}
  {% assign _main_class = 'col-12' %}
  
  <div id="col-main" class="page-product layout-{{ _product_layout }}">
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
      
      {% if product.available %}
        <link itemprop="availability" href="https://schema.org/InStock" />
      {% else %}
        <link itemprop="availability" href="https://schema.org/OutOfStock" />
      {% endif %}

      <div class="product">
        <div class="product-content-wrapper">

          {% include 'product-detail-image-v3' %}

          <div id="product-info" class="product-info" data-stock="{{ section.settings.show_product_quantity }}">
            <div class="product-info-inner container">

              {% include 'product-detail-discount-popup' %}

              {% include 'product-label' %} 

              <h1 itemprop="name" content="{{ product.title }}" class="page-heading">{{ product.title }}</h1>

              {% if section.settings.show_product_vendor and product.vendor != blank %}
                <div class="product-vendor">{{ product.vendor | link_to_vendor }}</div>
              {% endif %} 

              {% include 'product-detail-review' %}
              {% include 'product-detail-sku-stock' %}
              {% include 'product-detail-price' %}
              {% include 'product-detail-inventory' %} 
              {% include 'product-detail-deals' %}
              
              {% if product.available %}   

                {% assign hide_default_title = false %}
                {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                  {% assign hide_default_title = true %}
                {% endif %}

                <div class="group-cw clearfix">
                  {% form 'product', product, class:'product-form product-action variants' %}
                    {% include 'product-detail-variants' %}
                    <div class="qty-add-cart">
                      {% include 'product-detail-qty' %}
                      {% include 'product-detail-btn' %}
                    </div>
                  {% endform %}

                  {% include 'layout-people-in-cart' %}
                  {% include 'product-detail-order-shipping' %}
                  {% include 'product-detail-pre-order-btn' %}
                  {% include 'product-detail-wishlist-compare' %} 
                </div>

              {% else %}
                {% include 'product-detail-unavailable' %}

              {% endif %}

              {% include 'product-detail-short-description' %}
              {% include 'product-detail-popup' %} 
              {% include 'product-detail-pre-order' %}
              {% include 'product-secure-image' %}

              {% if settings.show_social_sharing_product and settings.share_js != blank %}
                {% include 'social-sharing' %}
              {% endif %}

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  {% include 'product-accordion' %}

  {% if section.settings.show_notification_bar %}
    <div class="announcement-bar style-1">
      <div class="container">

        <div class="product-bar-container">
          <div class="row">

            {% for i in (1..3) %}
              {% assign _icon = 'notification_bar_icon_' | append: i %}
              {% assign _text = 'notification_bar_text_' | append: i %}

              {% unless section.settings[_text] == blank %}
                <div class="col-md-4 col-12">
                  <div class="item">
                    {% unless section.settings[_icon] == blank %}
                      <div class="icon"><i class="demo-icon {{ section.settings[_icon] }}"></i></div>
                    {% endunless %}

                    <div class="text">
                      <div class="heading">{{ section.settings[_text] }}</div>
                    </div>
                  </div>
                </div>
              {% endunless %}

            {% endfor %}

          </div>
        </div>

      </div>
    </div>
  {% endif %}

  {% if section.settings.product_tab_review == 'below' and settings.product_review_option != 'none' %}
    <div class="review-item" id="tab_review_tabbed">
      <div id="tab-review" class="container">
        {% include 'product-detail-review-content' %}
      </div>
    </div>
  {% endif %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'related-product' %}
        {% include 'related-product' %} 
      {% when 'super-deals-product' %}
        {% include 'super-deals-product' %} 
      {% when 'article' %}
        {% include 'category-top-article' %}
      {% else %}
    {% endcase %}
  {% endfor %}

</div>

{% if settings.enable_notify_product_page %}
  {% include 'layout-notify' %}
{% endif %}

{% include 'product-template-script' %}